<div>
  <label for="tempo">{{ tempo }}</label>
  <input
    id="tempo"
    name="tempo"
    type="range"
    #tempoSlider
    min="20"
    max="240"
    value="tempo"
    (input)="tempo = tempoSlider.value"
  />
  <input *ngIf="playing" value="Stop" type="button" (click)="stopMetronome()" />
  <input
    *ngIf="!playing"
    value="Play"
    type="button"
    (click)="playMetronome()"
  />
  <select #soundSelect (change)="sound = soundSelect.value">
    <option *ngFor="let sound of sounds">{{ sound }}</option>
  </select>
</div>
